@media screen and (min-width: 850px) {
  input.input {
    width: max-content;
  }
  #heading {
    margin: 3% 0;
  }
  .floating-form {
    width: 30%;
    left: 35%;
  }
}

@media screen and (min-width: 375px) {
  #heading {
    font-size: 2em;
  }
}
